<%- include("layouts/html-start.ejs"); -%>

<%- include("layouts/head-start.ejs"); -%>
<!-- Custom styles for this template-->
<%- include("layouts/head-end.ejs"); -%>

<%- include("layouts/body-start.ejs"); -%>
<!-- Sidebar -->
<%- include("layouts/side-navi.ejs"); -%>
<!-- End of Sidebar -->

<%- include("layouts/content-wrapper-start.ejs"); -%>
<!-- Topbar -->
<%- include("layouts/topbar.ejs"); -%>
<!-- End of Topbar -->


<%- include("layouts/page-content-start.ejs")-%>
<!-- 404 Error Text -->
<div class="text-center">

    <h1>This is the product page</h1>
    <a href="/">Shop</a>

    <form action='/admin/product' method='POST'>
        <input type='text' name='title'/> <button type='submit'>Submit</button>
    </form>

    <% if(products.length) {%>
        <ul>
        <% products.forEach((product) =>{ %>
          <li><%= product.title%></li>
        <%}); %>
        </ul>
    <%} else {%>
        <h2>No products available.</h2>
    <%}%>
</div>
<%- include("layouts/page-content-end.ejs")-%>

<%- include("layouts/content-wrapper-end.ejs"); -%>

<%- include("layouts/body-end.ejs"); -%>

<%- include("layouts/html-end.ejs"); -%>


