<ol class="breadcrumb">
    <li class="breadcrumb-item active">Cart</li>
    <li class="breadcrumb-item active">Details</li>
</ol>
{{#if showProducts}}
    <div class="row">
        {{#each products}}
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        {{this.title}}
                    </div>
                    {{#if this.imageUrl}}
                        <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
                    {{else}}
                        <i class="fab fa-product-hunt"
                           style="font-size: 110px;text-align: center;margin: 10px;"></i>
                    {{/if}}
                    <div class="card-body">
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text"><small class="text-muted">Price: {{this.price}} Euro</small></p>
                        <p class="card-text"><small class="text-muted">Total: {{this.priceSumm}} Euro</small></p>
                        <p class="card-text"><small class="text-muted">Quantity: {{this.quantity}} </small></p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <h4>Total price: {{totalPrice}}</h4>
{{else}}
    <h2>Your cart is empty.</h2>
{{/if}}