<ol class="breadcrumb">
    <li class="breadcrumb-item active">Shop</li>
    <li class="breadcrumb-item active">Products</li>
</ol>
{{#if showProducts}}
    <div class="row">
        {{#each products}}
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        {{this.title}}
                    </div>
                    {{#if this.imageUrl}}
                        <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
                    {{else}}
                        <i class="fab fa-product-hunt"
                           style="font-size: 110px;text-align: center;margin: 10px;"></i>
                    {{/if}}
                    <div class="card-body">
                        <form action="/cart/{{this._id}}" method="POST">
                            <!--<h5 class="card-title">{{this.title}}</h5>-->
                            <p class="card-text">{{this.description}}</p>
                            <p class="card-text"><small class="text-muted">{{this.price}} Euro</small></p>
                            <a href="/product/{{this._id}}" class="btn btn-outline-info">Details</a>
                            <button class="btn btn-primary" type="submit">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <h2>No products available.</h2>
{{/if}}