<ol class="breadcrumb">
    <li class="breadcrumb-item active">Product</li>
    <li class="breadcrumb-item active">Details</li>
</ol>
{{#if showProducts}}
    <div class="row">
        {{#each products}}
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        {{this.title}}
                    </div>
                    {{#if this.imageUrl}}
                        <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
                    {{else}}
                        <i class="fab fa-product-hunt"
                           style="font-size: 110px;text-align: center;margin: 10px;"></i>
                    {{/if}}
                    <div class="card-body">
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text"><small class="text-muted">{{this.price}} Euro</small></p>
                        <a href="/" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <h2>This product is not available.</h2>
{{/if}}